# Directories
/.venv
__pycache__/
/diGemini
/models

# Documenti interni e file di test
appunti.txt
designDoc.md
pyrightconfig.json
tasks.json
main.py
roadmap.md

# Build e Packaging di Python
dist/
build/
*.egg-info/
*.whl
*.tar.gz

# File di sistema operativo (macOS)
.DS_Store
